.container {
  background-color: #17181f;
  margin: 2rem auto;
  padding: 2rem;
  max-width: 1120px;
  border-radius: 6px;

  .editTask {
    margin-bottom: 0.5rem;
    display: flex;
    align-items: flex-end;
    gap: 1rem;

    span {
      color: #ffb800;
      font-size: 1.1rem;
    }

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      border: 1px solid #424242;
      border-radius: 6px;
      padding: 0 8px;

      span {
        color: #ff3636;
      }
    }
  }

  form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    input {
      width: 90%;
      height: 50px;
      background-color: #20212c;
      border: 1px solid #424242;
      border-radius: 6px;
      color: #fff;
      padding: 3px 10px;
    }

    button {
      width: 10%;
      background-color: #ffb800;
      border-radius: 6px;
      border: 0;
      height: 50px;
      transition: all 0.2s;
    }

    button:hover {
      filter: brightness(0.8);
    }
  }

  small {
    display: inline-block;
    color: #ff3636;
    margin-top: 0.5rem;
  }

  .taskList {
    margin-top: 1.8rem;

    h2 {
      color: #fff;
    }

    ul {
      margin-top: 1rem;
      list-style: none;
    }
  }
}

.vipContainer {
  background-color: #17181f;
  max-width: 1120px;
  border-radius: 6px;
  margin: 1rem auto;
  padding: 2rem;

  h3 {
    color: #ffb800;
    font-size: 2rem;
  }

  div {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: 5px;

    time {
      color: #fff;
      font-size: 1rem;
    }
  }
}
