.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 6rem);

  img {
    width: 22rem;
    height: 22rem;
  }

  .vip {
    margin-bottom: 1.8rem;
    background-color: #019950;
    border-radius: 6px;
    padding: 1rem 2.5rem;
    color: #fff;

    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      vertical-align: middle;
      margin-right: 10px;
    }

    span {
      font-size: 1.2rem;
    }
  }

  .callToAction {
    h1 {
      text-align: center;
      margin-bottom: 1rem;
      font-size: 1.8rem;
      color: #141a29;
    }

    p {
      span {
        color: #141a29;
      }
      color: #04dd75;
      text-align: center;
      font-size: 1.5rem;
      margin-bottom: 1.5rem;
    }

    strong {
      display: inline-block;
      font-size: 1.1rem;
      background-color: #eee;
      padding: 0.8rem;
      margin-bottom: 1rem;
      text-align: center;
    }

    div {
      width: 20rem;
      margin: 0 auto 1rem;
    }
  }
}
